# EditorConfig is awesome: http://EditorConfig.org
#
# NOTE: Keep settings in sync with:
#
# - /.clang-format
# - /eslint.config.js
# - /prettier.rc
#
# top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

# Javascript
[*.{js,mjs,cjs}]
indent_size = 2

# CMake configuration files
[{CMakeLists.txt,CMakeSettings.json,*.cmake}]
indent_size = 2

# CI configuration files
[{.github/**/*.yml,.travis.yml,appveyor.yml}]
indent_size = 2

# ReStructuredText
[*.rst]
indent_size = 3

# Windows shell scripts
[*.bat]
end_of_line = crlf

# Makefile
[Makefile]
indent_style = tab
indent_size = 4
