language: cpp
compiler:
  - gcc
#  - clang
# Make sure CMake is installed
install:
 - sudo apt-get update >/dev/null
 - sudo apt-get -q install libprotoc-dev libprotobuf7 libprotobuf-dev libosmpbf-dev libbz2-dev libstxxl-dev libstxxl1 libxml2-dev libzip-dev libboost1.46-all-dev lua5.1 liblua5.1-0-dev libluabind-dev rubygems
 - sudo bash < <(curl -s https://gist.github.com/DennisOSRM/803a64a9178ec375069f/raw/e94c829021fe58d2868504938db2744549c75649/install-osmosis.sh)
before_script:
 - rvm use 1.9.3
 - gem install bundler
 - bundle install
 - mkdir build
 - cd build
 - cmake .. $CMAKEOPTIONS
script: make -j 2
after_script:
 - cd ..
 - cucumber -p verify
branches:
  only:
    - master
    - develop
cache:
- bundler
- apt
env:
 - CMAKEOPTIONS="-DCMAKE_BUILD_TYPE=Release"
 - CMAKEOPTIONS="-DCMAKE_BUILD_TYPE=Debug"
notifications:
 irc:
  channels:
    - irc.oftc.net#osrm
  on_success: change
  on_failure: always
  use_notice: true
  skip_join: false

  recipients:
    - dennis@mapbox.com
  email:
    on_success: change
    on_failure: always
