html,body{margin:0;padding:0;height: 100%;width: 100%;}

.copyright{
	text-align:center;
	font-size:10px;
	font-family:Verdana;
	font-weight: bold;
    bottom: 5px;
    right: 5px;
    position: absolute; 
    display: block;
    z-index: 999;
}

div.olControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 15em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
    white-space:nowrap;
}

div.olControlPermalink {
    right: 5px;
    bottom: 30px;
    display: block;
    position: absolute;
    font-family:Verdana;
    font-size: smaller;
} 

#data {
	padding:5px;
	margin:5px;
	height:95% !important; /* Important Regel für moderne Browser */
	width:350px;
	background-color: #FFFFFF;
	position:absolute;
	z-index: 999;
	border:1px solid #bebebe;
	border-radius: 6px;-moz-border-radius: 6px;
}

#map {
	background-color:#000000;
}

.slide {
	position:absolute;
	z-index: 999;
	top:40px;
	left:365px;
	background-color:#FF7F00;
}

.button {
	text-align: center;
	width: 10px;
	height: 10px;
	display: block;
	color: #fff;
}

.calc_route { padding: 5px;margin-left:auto; margin-right:46;text-align:right; }
.options { margin-right:10px; font-size:9px; font-family:Verdana; }
.options_div { margin-left:20px; font-size:9px; font-family:Verdana; }

.text {
	text-align: center;
	font: bold 90%/80% Arial, Helvetica, sans-serif;
	color: #000000;
}

.radioIcons{
	vertical-align: sub;
	_vertical-align: middle;//IE_Hack
}

.information {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	overflow:auto;
	height:70%;
	overflow-x:hidden;
	margin-left: 10px;
	margin-right: 10px;
}

.text_textfiled {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.infoHL { font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; color: #000000; }
.infoHLRed { font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; color: #FF0000; }

.geocodeResultEven { padding-left:5px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }
.geocodeResultOdd { padding-left:5px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }

.routeSummaryHL { font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; color: #000000; }
.routeSummaryHLlight { font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 13px; color: #000000; }
.routeSummary { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }
.routeSummarybold { font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; color: #000000; }
.routeInstructionsHL { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration:underline; }
.routeInstructionsEven { padding-left:5px; padding-right:5px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; background-color: #D3D3D3; }
.routeInstructionsOdd { padding-left:5px; padding-right:5px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }

.nolinkStyle { text-decoration:none; color: #000000; }

.thx{ text-align:center; font-size:9px; font-family:Verdana; bottom: 5px; position: absolute; width:350; }
