language: c

sudo: false

matrix:
  exclude:
    - os: linux
    - os: osx
  include:
    - os: osx
      osx_image: xcode7
      env: MASON_PLATFORM=ios
      compiler: clang
    - os: osx
      osx_image: xcode7.2
      env: MASON_PLATFORM=ios
      compiler: clang
    - os: osx
      osx_image: xcode7.3
      env: MASON_PLATFORM=ios
      compiler: clang
    - os: osx
      osx_image: xcode7
      env: MASON_PLATFORM=osx
      compiler: clang
    - os: linux
      env: MASON_PLATFORM=linux CXX=clang++-3.5
      addons:
        apt:
          sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.5' ]
          packages: [ 'clang-3.5', 'libstdc++-4.9-dev', 'libstdc++6' ]
    - os: linux
      env: MASON_PLATFORM=android MASON_ANDROID_ABI=arm-v5
    - os: linux
      env: MASON_PLATFORM=android MASON_ANDROID_ABI=arm-v7
    - os: linux
      env: MASON_PLATFORM=android MASON_ANDROID_ABI=arm-v8
    - os: linux
      env: MASON_PLATFORM=android MASON_ANDROID_ABI=x86
    - os: linux
      env: MASON_PLATFORM=android MASON_ANDROID_ABI=x86-64
    - os: linux
      env: MASON_PLATFORM=android MASON_ANDROID_ABI=mips
    - os: linux
      env: MASON_PLATFORM=android MASON_ANDROID_ABI=mips-64

addons:
  apt:
    sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.5' ]
    packages: [ 'clang-3.5', 'libstdc++-4.9-dev', 'libstdc++6' ]

script:
- ./mason build ${MASON_NAME} ${MASON_VERSION}

after_success:
- ./mason publish ${MASON_NAME} ${MASON_VERSION}
