/*
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU AFFERO General Public License as published by
the Free Software Foundation; either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
or see http://www.gnu.org/licenses/agpl.txt.
*/

/* OSRM CSS styles for printing*/

/* page setup */
body
{
	margin: 8px;
}


/* route description box */
#description
{
	width:500px;
	margin:5px;
}

/* route description box */
#overview-map-description
{
	width:500px;
	margin:5px;
}


/* route map box */
#overview-map
{
	width:500px;
	height:500px;
	margin:5px;
}


/* styles for information-box-header */
div.header-title
{
	font-weight:bold;
	margin-bottom:10px;
}
.header-content
{
	font-weight:normal;
}
.result-link
{
	color:#0000ff;
	text-decoration:none;
	cursor:pointer;
}
.result-link:hover
{
	color:#ff0000;
}


/* style for information-box table (search results, driving directions) */
.results-table
{
	border-spacing:0px;
	width:100%;
}
.results-odd
{
	background-color: #FFFDE3;
}
.results-even
{
	background-color: #FFF9BB;
}
.result-counter
{
	text-align:right;
	vertical-align:top;
	font-weight:bold;
	padding:1px 5px 1px 5px;
}
.result-items
{
	text-align:left;
	vertical-align: middle;
	width:100%;
	padding:1px;
}
.result-directions
{
	text-align:left;
	vertical-align: middle;
	padding:1px 5px 1px 5px;
}
.result-distance
{
	text-align:right;
	vertical-align: middle;
	padding:1px 1px 1px 5px;
}
.result-item
{
	cursor:pointer;
	color:#000000
}
.no-results
{
	text-align:center;
	margin:28px;
}


/* header area */
#printing-header
{
	left:0px;
	right:0px;
	top:0px;
	height:20px;
}
.top-left-button
{
	float:left;
}
.top-right-button
{
	float:right;
}


/* utility styles */
.quad
{
	min-width:10px;
	min-height:10px;
}
@media print {
.pagebreak
{
	page-break-before:always;
}
.noprint
{
	display:none;
}
}


/* iconic buttons */
.iconic-button
{
	cursor:pointer;
	width:16px;
	height:16px;
	background-repeat:no-repeat;
	background-position:center;
}

#gui-printer
{
	background-image:url("../images/printer.png");
}
#gui-printer:hover
{
	background-image:url("../images/printer_hover.png");
}
#gui-printer:active
{
	background-image:url("../images/printer_active.png");
}


/* fonts */
@media print  {
	
.base-font {
	font-family: Times New Roman, Times, serif;
	font-size: 16px;
	font-weight: normal;
}
.big-font {
	font-family: Times New Roman, Times, serif;
	font-size: 18px;
	font-weight: bold;	
}
.medium-font {
	font-family: Times New Roman, Times, serif;
	font-size: 14px;
	font-weight: normal;	
}
.small-font {
	font-family: Times New Roman, Times, serif;
	font-size: 12px;
	font-weight: normal;	
}

}

@media screen {
.base-font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.big-font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;	
}
.medium-font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10.5px;
	font-weight: normal;	
}
.small-font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;	
}	
}


/* table */
.full
{
	display:table;
	width:100%;
}
.left
{
	display:table-cell;
	text-align:left;
	vertical-align:middle;
}
.right
{
	display:table-cell;
	text-align:right;
	vertical-align:middle;
}
.center
{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
.header-group
{
	display:table-header-group;
}
.row-group
{
	display:table-row-group;
}