/*
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU AFFERO General Public License as published by
the Free Software Foundation; either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
or see http://www.gnu.org/licenses/agpl.txt.
*/

/* OSRM CSS styles for printing*/

/* ------------------------------------------------------------------------ */

/* page setup */
body
{
	margin: 8px;
}

/* ------------------------------------------------------------------------ */

/* changes/additions to leaflet styles */
.via-counter
{
	position:absolute;
	top:-3px;
	right:-6px;
	width:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#FFFFFF;
	text-align:center;
	vertical-align:middle;	
	font-size:9px;
	display:none;
}

/* ------------------------------------------------------------------------ */

/* header area */
#printing-header
{
	left:0px;
	right:0px;
	top:0px;
	height:20px;
}
.top-right-button
{
	float:right;
	vertical-align:top;
}


/* content area */
div.label
{
	font-weight:bold;
	margin-bottom:10px;
}
.box
{
	width:500px;
	margin:5px;
}
#overview-map
{
	width:500px;
	height:500px;
	margin:5px;
}

/* ------------------------------------------------------------------------ */

/* description content */
.description
{
	border-spacing:0px;
	width:100%;
}

/* styles for description header */
.description-header
{
	display:table-header-group;
}
.description-header-label
{
	padding:0px 5px 0px 0px;
}
.description-header-content
{
	font-weight:bold;
}


/* styles for description body */
.description-body
{
	display:table-row-group;
}
.description-body-odd
{
	background-color: #FFFDE3;
}
.description-body-even
{
	background-color: #FFF9BB;
}
.description-body-items
{
	text-align:left;
	vertical-align: middle;
	width:100%;
	padding:1px;
}
.description-body-directions
{
	text-align:left;
	vertical-align: middle;
	padding:1px 5px 1px 5px;
}
.description-body-direction
{
	height:36px;
	width:36px;
}
.description-body-distance
{
	text-align:right;
	vertical-align: middle;
	padding:1px 1px 1px 5px;
}
@media print {
.description-body-even > td,
.description-body-odd > td
{
	border-bottom: 1px solid black;
}
}

/* ------------------------------------------------------------------------ */

/* iconic buttons */
.iconic-button
{
	cursor:pointer;
	width:16px;
	height:16px;
	background-repeat:no-repeat;
	background-position:center;
}

#gui-printer-inactive
{
	cursor:default;
}

/* ------------------------------------------------------------------------ */

/* utility styles */
.quad
{
	min-width:10px;
	min-height:10px;
}
@media print {
.pagebreak
{
	page-break-after:always;
}
.noprint
{
	display:none;
}
}

/* ------------------------------------------------------------------------ */

/* table */
.full
{
	display:table;
	width:100%;
}
.row
{
	display:table-row;
}
.left
{
	display:table-cell;
	text-align:left;
	vertical-align:top;
}
.right
{
	display:table-cell;
	text-align:right;
	vertical-align:top;
}
.center
{
	display:table-cell;
	text-align:center;
	vertical-align:top;
}
.stretch
{
	width:100%;	
}

/* ------------------------------------------------------------------------ */

/* fonts */
@media print {
.base-font {
	font-family: Times New Roman, Times, serif;
	font-size: 16px;
	font-weight: normal;
}
.big-font {
	font-family: Times New Roman, Times, serif;
	font-size: 18px;
	font-weight: bold;	
}
.medium-font {
	font-family: Times New Roman, Times, serif;
	font-size: 14px;
	font-weight: normal;	
}
.small-font {
	font-family: Times New Roman, Times, serif;
	font-size: 12px;
	font-weight: normal;	
}
}

@media screen {
.base-font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
}
.big-font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;	
}
.medium-font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;	
}
.small-font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;	
}	
}