name: osrm-backend CI
on:
  push:
    branches:
      - master
    tags:
      - v[1-9]+.[0-9]+.[0-9]+
      - v[1-9]+.[0-9]+.[0-9]+-[a-zA-Z]+.[0-9]+
      - v[1-9]+.[0-9]+-[0-9a-zA-Z]+
  pull_request:
    branches:
      - master

defaults:
  run:
    shell: bash

env:
  # print commands
  # SHELLOPTS: xtrace

  # paths
  BUILD_DIR:   ${{ github.workspace }}/build
  TEST_DIR:    ${{ github.workspace }}/test
  LOG_DIR:     ${{ github.workspace }}/test/logs
  CI_DIR:      ${{ github.workspace }}/scripts/ci
  NODE_DIR:    ${{ github.workspace }}/.npm
  NAPI_DIR:    ${{ github.workspace }}/build/nodejs/lib/binding_napi_v8
  CONAN_HOME:  ${{ github.workspace }}/.conan2
  CONAN_CACHE: ${{ github.workspace }}/.conan2/p
  CONAN_DOWNLOAD_CACHE: ${{ github.workspace }}/.conan2/downloads

  CCACHE_DIR:        ${{ github.workspace }}/.ccache
  CCACHE_TEMPDIR:    /tmp/.ccache-temp
  CCACHE_COMPRESS:   1
  SCCACHE_DIR:       ${{ github.workspace }}/.sccache
  SCCACHE_CONF:      ${{ github.workspace }}/.sccacheconfig
  SCCACHE_ERROR_LOG: ${{ github.workspace }}/test/logs/sccache.log
  # SCCACHE_LOG:       debug

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  format-taginfo-docs:
    uses: ./.github/workflows/format-taginfo-docs.yml

  docker:
    uses: ./.github/workflows/docker.yml

  build-matrix:
    strategy:
      matrix:
        include:
          # - name: clang-21-release
          #   runs-on: ubuntu-26.04

          - name: clang-20-release
            runs-on: ubuntu-24.04
            BUILD_BENCHMARKS: ON
            RUN_BENCHMARKS: ON
            CMAKE_GENERATOR: Ninja

          - name: clang-20-debug-node-tidy
            continue-on-error: true
            runs-on: ubuntu-24.04
            ENABLE_LTO: OFF
            RUN_UNIT_TESTS: OFF
            RUN_CUCUMBER_TESTS: OFF
            BUILD_BENCHMARKS: ON

          # - name: clang-20-debug-node-cov
          #   continue-on-error: true
          #   runs-on: ubuntu-24.04

          - name: clang-19-release-node
            runs-on: ubuntu-24.04

          - name: clang-19-release-shared-node
            runs-on: ubuntu-24.04

          - name: clang-19-debug-asan
            continue-on-error: true
            runs-on: ubuntu-24.04
            ENABLE_LTO: OFF

          - name: clang-19-debug-ubsan
            continue-on-error: true
            runs-on: ubuntu-24.04
            ENABLE_LTO: OFF

          - name: clang-18-release
            runs-on: ubuntu-24.04
            NODE_VERSION: 22

          - name: clang-17-release
            runs-on: ubuntu-24.04
            NODE_VERSION: 22

          - name: clang-16-release
            runs-on: ubuntu-24.04
            NODE_VERSION: 20

          # - name: gcc-15-release
          #   runs-on: ubuntu-26.04

          - name: gcc-14-release
            runs-on: ubuntu-24.04

          - name: gcc-13-release
            runs-on: ubuntu-24.04
            NODE_VERSION: 22

          - name: conan-linux-release-node
            runs-on: ubuntu-24.04
            CC: clang-19
            CXX: clang++-19

          - name: conan-linux-release-shared-node
            runs-on: ubuntu-24.04
            CC: clang-19
            CXX: clang++-19

          - name: conan-linux-debug-node
            runs-on: ubuntu-24.04
            continue-on-error: true
            CC: clang-19
            CXX: clang++-19
            CMAKE_GENERATOR: Ninja

          - name: conan-macos-26-arm64-release-node
            runs-on: macos-26 # arm64

          - name: conan-macos-15-x64-release-node
            runs-on: macos-15-intel # x64

          - name: conan-macos-15-arm64-release-shared-node
            runs-on: macos-15 # arm64

          - name: conan-macos-15-arm64-release-node
            runs-on: macos-15 # arm64
            BUILD_BENCHMARKS: ON
            RUN_BENCHMARKS: ON

          - name: macos-15-arm64-release-node
            runs-on: macos-15 # arm64
            continue-on-error: true

          - name: conan-macos-14-arm64-release-node
            runs-on: macos-14 # arm64
            NODE_VERSION: 22

          - name: conan-windows-2025-vs2026-x64-release-node
            runs-on: windows-2025-vs2026 # x64
            continue-on-error: true
            ENABLE_SCCACHE: ON

          - name: conan-windows-2025-vs2022-x64-release-node
            runs-on: windows-2025 # x64
            continue-on-error: true
            BUILD_BENCHMARKS: ON
            RUN_BENCHMARKS: ON
            ENABLE_SCCACHE: ON

          - name: conan-windows-2022-x64-release-node
            runs-on: windows-2022 # x64
            continue-on-error: true
            NODE_VERSION: 22
            ENABLE_SCCACHE: ON

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runs-on }}
    continue-on-error: ${{ (matrix.continue-on-error != null) && matrix.continue-on-error || false }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Decode matrix
        run: |
          echo "::group::matrix"
          echo '${{ toJSON(matrix) }}'
          echo "::endgroup::"

          echo '${{ toJSON(matrix) }}' | python scripts/ci/decode_matrix.py \
               --cmake-presets-template scripts/ci/CMakePresets.template.json \
               --cmake-presets CMakePresets.json --output matrix.env -

          echo "::group::generated CMakePresets.json"
          cat CMakePresets.json
          echo "::endgroup::"

          echo "::group::generated github environment"
          cat matrix.env
          echo "::endgroup::"

          cat matrix.env >> $GITHUB_ENV

      - name: Setup environment
        run: |
          uname
          uname -a
          echo ${RUNNER_OS}

          mkdir -p build $TEST_DIR $LOG_DIR $CCACHE_DIR $SCCACHE_DIR

          case "${RUNNER_OS}" in
            Linux)
              sudo apt-get update -y
              sudo apt-get install -y ${APT_GET_DEPS//:/ } make zlib1g-dev
              echo "MAKE=make" >> $GITHUB_ENV
              echo "TIME=/usr/bin/time" >> $GITHUB_ENV
            ;;
            macOS)
              # install a current version of bash
              brew install bash make ccache gnu-time
              bash --version
              echo "MAKE=gmake" >> $GITHUB_ENV
              echo "TIME=gtime" >> $GITHUB_ENV
            ;;
            Windows)
              echo "MAKE=make" >> $GITHUB_ENV
              echo "TIME=time" >> $GITHUB_ENV
              echo "PYTHONUTF8=1" >> $GITHUB_ENV
            ;;
          esac

      # Node

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Setup Node environment
        run: |
          PACKAGE_JSON_VERSION=$(node -e "console.log(require('./package.json').version)")
          echo PUBLISH=$([[ "${GITHUB_REF:-}" == "refs/tags/v${PACKAGE_JSON_VERSION}" ]] && echo "ON" || echo "OFF") >> "$GITHUB_ENV"
          if [[ "${RUNNER_OS}" == "Windows" ]]; then
            npm config set script-shell "C:\\Program Files\\Git\\bin\\bash.exe"
          fi
          npm ci --ignore-scripts

      # Python

      - name: Install Python
        uses: ./.github/actions/install-python

      # Conan

      - name: Install Conan
        if: env.ENABLE_CONAN == 'ON'
        uses: ./.github/actions/install-conan

      # Restore compiler cache

      - name: Restore CCache
        id: cache-ccache-restore
        uses: actions/cache/restore@v4
        if: env.ENABLE_CCACHE == 'ON'
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-${{ matrix.name }}-${{ github.sha }}
          restore-keys: |
            ccache-${{ matrix.name }}-

      - name: Install SCCache
        if: env.ENABLE_SCCACHE == 'ON'
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          disable_annotations: true

      - name: Restore SCCache
        id: cache-sccache-restore
        uses: actions/cache/restore@v4
        if: env.ENABLE_SCCACHE == 'ON'
        with:
          path: ${{ env.SCCACHE_DIR }}
          key: sccache-${{ matrix.name }}-${{ github.sha }}
          restore-keys: |
            sccache-${{ matrix.name }}-

      # Dependencies

      - name: Install dev dependencies
        if: env.ENABLE_CONAN != 'ON'
        run: |
          # Install dev dependencies the traditional way
          case "${RUNNER_OS}" in
            Linux)
              sudo apt-get install -y libbz2-dev libxml2-dev libzip-dev liblua5.2-dev libtbb-dev libboost-all-dev
            ;;
            macOS)
              brew install libzip lua tbb boost
            ;;
            Windows)
              # nuget does not provide BoostConfig.cmake etc.
              # nuget install libzip                      -x -OutputDirectory nuget
              # nuget install libxml2-vc140-static-32_64  -x -OutputDirectory nuget
              # nuget install lua                         -x -OutputDirectory nuget
              # nuget install boost                       -x -OutputDirectory nuget
              # nuget install inteltbb.devel.win          -x -OutputDirectory nuget
              # choco has only half the packages, servers always time out
              # choco install lua52 tbb boost-msvc-14.3
              # vcpkg is the same as Conan only much slower
              # vcpkg install boost bzip2 libxml2 libzip lua tbb
            ;;
          esac

      - name: Prepare for building
        run: |
          if [[ "${ENABLE_CCACHE}" == "ON" ]]; then
            ccache --version
            ccache --max-size=256M
            ccache --zero-stats
          fi

          if [[ "${RUNNER_OS}" == "Linux" ]]; then
            if [[ "$ENABLE_ASAN" == "ON" ]]; then
              export "LD_LIBRARY_PATH=$(dirname `clang -print-file-name=libclang_rt.asan-x86_64.so`):$LD_LIBRARY_PATH"
              echo "ASAN_OPTIONS=log_path=${LOG_DIR}/asan.log:print_suppressions=0:suppressions=${CI_DIR}/addresssanitizer.conf" >> $GITHUB_ENV
              echo "LSAN_OPTIONS=log_path=${LOG_DIR}/lsan.log:print_suppressions=0:suppressions=${CI_DIR}/leaksanitizer.conf" >> $GITHUB_ENV
            fi
            if [[ "$ENABLE_UBSAN" == "ON" ]]; then
              export "LD_LIBRARY_PATH=$(dirname `clang -print-file-name=libclang_rt.ubsan_standalone-x86_64.so`):$LD_LIBRARY_PATH"
              echo "UBSAN_OPTIONS=log_path=${LOG_DIR}/ubsan.log:symbolize=1:halt_on_error=1:print_stacktrace=1:suppressions=${CI_DIR}/undefinedsanitizer.conf" >> $GITHUB_ENV
            fi
            echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH" >> $GITHUB_ENV
          fi

          echo "::group::PATH"
          echo PATH=${PATH}
          echo LIBRARY_PATH=${LIBRARY_PATH}
          echo LD_LIBRARY_PATH=${LD_LIBRARY_PATH}
          echo DYLD_LIBRARY_PATH=${DYLD_LIBRARY_PATH}
          echo "::endgroup::"

      - name: Cmake configure
        run: |
          cmake --preset ${CMAKE_CONFIGURE_PRESET_NAME}
          cat build/osrm-run.env >> $GITHUB_ENV

      - name: Build core
        run: |
          cmake --build --preset ${CMAKE_BUILD_PRESET_NAME}
      - name: Build unit tests

        if: env.BUILD_UNIT_TESTS == 'ON'
        run: |
          cmake --build --preset ${CMAKE_BUILD_PRESET_NAME} --target tests

      - name: Build benchmarks
        if: env.BUILD_BENCHMARKS == 'ON'
        run: |
          cmake --build --preset ${CMAKE_BUILD_PRESET_NAME} --target benchmarks

      - name: Build Node package
        if: env.BUILD_NODE_PACKAGE == 'ON'
        run: |
          ${CI_DIR}/build_node_package.sh

      - name: Debug build
        if: always()
        run: |
          echo "::group::ls ${OSRM_BUILD_DIR}"
          ls -al ${OSRM_BUILD_DIR}
          echo "::endgroup::"

          echo "::group::ls ${OSRM_UNIT_TESTS_BUILD_DIR}"
          ls -al ${OSRM_UNIT_TESTS_BUILD_DIR} || true
          echo "::endgroup::"

          echo "::group::ls ${OSRM_BENCHMARKS_BUILD_DIR}"
          ls -al ${OSRM_BENCHMARKS_BUILD_DIR} || true
          echo "::endgroup::"

          echo "::group::ls ${OSRM_NODEJS_BUILD_DIR}"
          ls -al ${OSRM_NODEJS_BUILD_DIR} || true
          echo "::endgroup::"

          echo "::group::ls ${NAPI_DIR}"
          ls -al ${NAPI_DIR} || true
          echo "::endgroup::"

      # Save compiler cache

      - name: Save CCache
        if: always() && env.ENABLE_CCACHE == 'ON'
        uses: actions/cache/save@v4
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ steps.cache-ccache-restore.outputs.cache-primary-key }}

      - name: Show CCache statistics
        if: always() && env.ENABLE_CCACHE == 'ON'
        run: |
          ccache -s
          echo "::group::ccache -p"
          ccache -p
          echo "::endgroup::"

      - name: Save SCCache
        if: always() && env.ENABLE_SCCACHE == 'ON'
        uses: actions/cache/save@v4
        with:
          path: ${{ env.SCCACHE_DIR }}
          key: ${{ steps.cache-sccache-restore.outputs.cache-primary-key }}

      - name: Show SCCache statistics
        if: env.ENABLE_SCCACHE == 'ON'
        run: |
          sccache --show-stats
          echo "::group::show log file"
          cat ${SCCACHE_ERROR_LOG}
          echo "::endgroup::"

      # Test

      - name: Prepare for testing
        run: |
          if [[ "${ENABLE_CONAN}" == "ON" ]]; then
            cat "build/conan-run-env.sh"
            source "build/conan-run-env.sh"
            # set this environment for future bash invocations
            echo "BASH_ENV=build/conan-run-env.sh" >> $GITHUB_ENV
          fi

          echo "::group::PATH"
          echo PATH=${PATH}
          echo LIBRARY_PATH=${LIBRARY_PATH}
          echo LD_LIBRARY_PATH=${LD_LIBRARY_PATH}
          echo DYLD_LIBRARY_PATH=${DYLD_LIBRARY_PATH}
          echo "::endgroup::"

      - name: Run unit tests
        if: env.RUN_UNIT_TESTS == 'ON'
        run: |
          echo "::group::ls make -C test/data monaco"
          $MAKE -C "$TEST_DIR/data" monaco
          echo "::endgroup::"

          echo "::group::ls test/data/ch"
          ls -al "$TEST_DIR/data/ch/" || true
          echo "::endgroup::"
          echo "::group::ls test/data/mld"
          ls -al "$TEST_DIR/data/mld/" || true
          echo "::endgroup::"

          echo "::group::ctest info"
          ctest --version
          ctest --help
          echo "::endgroup::"

          ctest --preset ${CMAKE_TEST_PRESET_NAME} -L tests --no-tests=error -V -O ${LOG_DIR}/unit_test.log

      - name: Run Cucumber tests
        if: env.RUN_CUCUMBER_TESTS == 'ON'
        run: |
          npm test -- --parallel $JOBS

      - name: Run benchmarks
        if: env.RUN_BENCHMARKS == 'ON'
        continue-on-error: true
        uses: ./.github/actions/benchmarks

      - name: Run coverage
        if: env.ENABLE_COVERAGE == 'XXX'
        continue-on-error: true
        run: |
            # doesn't seem to work with tbb threads
            # https://github.com/linux-test-project/lcov/discussions/234
            cd "${OSRM_UNIT_TESTS_BUILD_DIR}"
            lcov --directory . --zerocounters
            llvm-profdata-${COMPILER_VERSION} merge -sparse *.profraw -o coverage.profdata
            llvm-cov-${COMPILER_VERSION} export -format=lcov --instr-profile coverage.profdata \
                osrm-extract -object osrm-contract -object osrm-partition -object osrm-customize > coverage.info
            genhtml --ignore-errors inconsistent,corrupt,unsupported -o ${LOG_DIR} coverage.info

      - name: Run Node tests
        if: env.RUN_NODE_TESTS == 'ON'
        uses: ./.github/actions/node-package-tests

      - name: Publish Node package
        if: env.BUILD_NODE_PACKAGE == 'ON' && env.PUBLISH == 'ON'
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: build/nodejs/build/stage/**/*.tar.gz
          omitBody: true
          omitBodyDuringUpdate: true
          omitName: true
          omitNameDuringUpdate: true
          replacesArtifacts: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Node package
        if: env.BUILD_NODE_PACKAGE == 'ON'
        uses: actions/upload-artifact@v4
        with:
          name: node-package-${{ matrix.name }}
          path: build/nodejs/build/stage/**/*.tar.gz

      - name: Upload log files
        uses: actions/upload-artifact@v4
        if: always()
        with:
          if-no-files-found: ignore
          name: ${{ matrix.name }}-test-logs
          path: ${{ env.LOG_DIR }}

  ci-complete:
    runs-on: ubuntu-latest
    needs: [format-taginfo-docs, docker, build-matrix]
    steps:
      - run: echo "CI complete"
