name: osrm-backend CI
on:
  push:
    branches:
      - master
    tags:
      - v[1-9]+.[0-9]+.[0-9]+
      - v[1-9]+.[0-9]+.[0-9]+-[a-zA-Z]+.[0-9]+
      - v[1-9]+.[0-9]+-[0-9a-zA-Z]+
  pull_request:
    branches:
      - master

defaults:
  run:
    shell: bash

env:
  # paths
  TEST_DIR:    ${{ github.workspace }}/test
  LOG_DIR:     ${{ github.workspace }}/test/logs
  CI_DIR:      ${{ github.workspace }}/scripts/ci
  NODE_DIR:    ${{ github.workspace }}/.npm
  NAPI_DIR:    ${{ github.workspace }}/lib/binding_napi_v8
  CONAN_HOME:  ${{ github.workspace }}/.conan2
  CONAN_CACHE: ${{ github.workspace }}/.conan2/p
  CONAN_DOWNLOAD_CACHE: ${{ github.workspace }}/.conan2/downloads

  BOOST_VERSION:     1.88.0
  CCACHE_DIR:        ${{ github.workspace }}/.ccache
  CCACHE_TEMPDIR:    /tmp/.ccache-temp
  CCACHE_COMPRESS:   1
  SCCACHE_DIR:       ${{ github.workspace }}/.sccache
  SCCACHE_CONF:      ${{ github.workspace }}/.sccacheconfig
  SCCACHE_ERROR_LOG: ${{ github.workspace }}/test/logs/sccache.log

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  format-taginfo-docs:
    uses: ./.github/workflows/format-taginfo-docs.yml

  docker:
    uses: ./.github/workflows/docker.yml

  build-matrix:
    strategy:
      matrix:
        include:
          - name: clang-21-release
            node: 24
            runs-on: ubuntu-24.04
            CCOMPILER: clang-21
            CXXCOMPILER: clang++-21

          - name: clang-20-release
            node: 24
            runs-on: ubuntu-24.04
            CCOMPILER: clang-20
            CXXCOMPILER: clang++-20

          - name: clang-19-release
            node: 24
            runs-on: ubuntu-24.04
            CCOMPILER: clang-19
            CXXCOMPILER: clang++-19

          - name: clang-19-release-shared
            node: 24
            runs-on: ubuntu-24.04
            CCOMPILER: clang-19
            CXXCOMPILER: clang++-19

          - name: clang-19-debug-asan
            continue-on-error: true
            node: 24
            runs-on: ubuntu-24.04
            CCOMPILER: clang-19
            CXXCOMPILER: clang++-19
            ENABLE_ASAN: ON
            ENABLE_LTO: OFF

          - name: clang-19-debug-ubsan
            continue-on-error: true
            node: 24
            runs-on: ubuntu-24.04
            CCOMPILER: clang-19
            CXXCOMPILER: clang++-19
            ENABLE_UBSAN: ON
            ENABLE_LTO: OFF

          - name: clang-19-debug-tidy
            continue-on-error: true
            node: 24
            runs-on: ubuntu-24.04
            CCOMPILER: clang-19
            CXXCOMPILER: clang++-19
            ENABLE_CLANG_TIDY: ON
            UNIT_TESTS: OFF
            CUCUMBER_TESTS: OFF
            ENABLE_LTO: OFF

          - name: clang-18-release
            node: 22
            runs-on: ubuntu-24.04
            CCOMPILER: clang-18
            CXXCOMPILER: clang++-18

          - name: clang-17-release
            node: 22
            runs-on: ubuntu-24.04
            CCOMPILER: clang-17
            CXXCOMPILER: clang++-17

          - name: clang-16-release
            node: 20
            runs-on: ubuntu-24.04
            CCOMPILER: clang-16
            CXXCOMPILER: clang++-16

          - name: gcc-15-release
            node: 24
            runs-on: ubuntu-24.04
            CCOMPILER: gcc-15
            CXXCOMPILER: g++-15

          - name: gcc-14-release
            node: 24
            runs-on: ubuntu-24.04
            CCOMPILER: gcc-14
            CXXCOMPILER: g++-14

          - name: gcc-13-release
            node: 22
            runs-on: ubuntu-24.04
            CCOMPILER: gcc-13
            CXXCOMPILER: g++-13

          - name: gcc-13-debug-cov
            node: 22
            runs-on: ubuntu-24.04
            CCOMPILER: gcc-13
            CXXCOMPILER: g++-13
            ENABLE_COVERAGE: ON

          - name: gcc-12-release
            node: 20
            runs-on: ubuntu-22.04
            CCOMPILER: gcc-12
            CXXCOMPILER: g++-12

          - name: conan-linux-release-node
            node: 22
            runs-on: ubuntu-24.04
            CCOMPILER: clang-19
            CXXCOMPILER: clang++-19

          - name: conan-linux-release-shared-node
            node: 22
            runs-on: ubuntu-24.04
            CCOMPILER: clang-19
            CXXCOMPILER: clang++-19

          - name: conan-linux-debug-node
            node: 22
            runs-on: ubuntu-24.04
            CCOMPILER: clang-19
            CXXCOMPILER: clang++-19

          - name: conan-macos-14-arm64-release-node
            node: 22
            runs-on: macos-14 # arm64
            CCOMPILER: clang
            CXXCOMPILER: clang++
            ENABLE_ASSERTIONS: ON

          - name: conan-macos-15-x64-release-node
            node: 22
            runs-on: macos-15-intel # x86_64
            CCOMPILER: clang
            CXXCOMPILER: clang++
            ENABLE_ASSERTIONS: ON

          - name: conan-macos-15-arm64-release-node
            node: 22
            runs-on: macos-15 # arm64
            CCOMPILER: clang
            CXXCOMPILER: clang++
            ENABLE_ASSERTIONS: ON

          - name: conan-macos-15-arm64-release-shared-node
            node: 22
            runs-on: macos-15 # arm64
            CCOMPILER: clang
            CXXCOMPILER: clang++
            ENABLE_ASSERTIONS: ON

          - name: conan-macos-26-arm64-release-node
            node: 24
            runs-on: macos-26 # arm64
            CCOMPILER: clang
            CXXCOMPILER: clang++
            ENABLE_ASSERTIONS: ON

          - name: conan-windows-2025-x64-release-node
            node: 24
            runs-on: windows-2025 # x64
            USE_CCACHE: sccache

          - name: conan-windows-2025-x64-release-shared-node
            node: 24
            runs-on: windows-2025 # x64
            USE_CCACHE: sccache

    name: ${{ matrix.name }}
    continue-on-error: ${{ !matrix.continue-on-error == null && false || true }}
    runs-on: ${{ matrix.runs-on }}
    env:
      PUBLISH: OFF

      BUILD_TYPE:           ${{ contains(matrix.name, 'debug')  && 'Debug' || 'Release' }}
      BUILD_SHARED_LIBS:    ${{ contains(matrix.name, 'shared') && 'ON' || 'OFF' }}
      BUILD_NODE_BINDINGS:  ${{ contains(matrix.name, 'node')   && 'ON' || 'OFF' }}

      ENABLE_CONAN:         ${{ contains(matrix.name, 'conan')  && 'ON' || 'OFF' }}
      NODE_PACKAGE_TESTS:   ${{ contains(matrix.name, 'node')   && 'ON' || 'OFF' }}
      BUILD_NODE_PACKAGE:   ${{ contains(matrix.name, 'node')   && 'ON' || 'OFF' }}

      CC:                ${{ matrix.CCOMPILER }}
      CFLAGS:            ${{ matrix.CFLAGS }}
      CXX:               ${{ matrix.CXXCOMPILER }}
      CXXFLAGS:          ${{ matrix.CXXFLAGS }}

      # default OFF
      ENABLE_ASSERTIONS: ${{ matrix.ENABLE_ASSERTIONS }}
      ENABLE_CLANG_TIDY: ${{ matrix.ENABLE_CLANG_TIDY }}
      ENABLE_COVERAGE:   ${{ matrix.ENABLE_COVERAGE }}
      ENABLE_ASAN:       ${{ matrix.ENABLE_ASAN }}
      ENABLE_UBSAN:      ${{ matrix.ENABLE_UBSAN }}
      # default ON
      ENABLE_LTO:        ${{ (matrix.ENABLE_LTO     != 'OFF') && 'ON' || 'OFF' }}
      UNIT_TESTS:        ${{ (matrix.UNIT_TESTS     != 'OFF') && 'ON' || 'OFF' }}
      CUCUMBER_TESTS:    ${{ (matrix.CUCUMBER_TESTS != 'OFF') && 'ON' || 'OFF' }}
      # default ccache
      USE_CCACHE:        ${{ (matrix.USE_CCACHE == null) && 'ccache' || matrix.USE_CCACHE }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        run: |
          uname -a
          mkdir -p $TEST_DIR $LOG_DIR $CCACHE_DIR $SCCACHE_DIR

          if [[ "${RUNNER_OS}" == "Linux" ]]; then
            sudo apt-get update -y
            sudo apt-get install -y ${CC} ${CXX} ccache zlib1g-dev
            echo "JOBS=$((`nproc` + 1))" >>  $GITHUB_ENV
          elif [[ "${RUNNER_OS}" == "macOS" ]]; then
            # install a version of bash that can do string lowercasing
            brew install bash ccache
            bash --version
            echo "JOBS=$((`sysctl -n hw.ncpu` + 1))" >>  $GITHUB_ENV
          elif [[ "${RUNNER_OS}" == "Windows" ]]; then
            echo "JOBS=$((`nproc` + 1))" >>  $GITHUB_ENV
            gendef --help || true
            dlltool --help || true
          fi
          ccache --version

      # Node

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - name: Setup Node environment
        run: |
          PACKAGE_JSON_VERSION=$(node -e "console.log(require('./package.json').version)")
          echo PUBLISH=$([[ "${GITHUB_REF:-}" == "refs/tags/v${PACKAGE_JSON_VERSION}" ]] && echo "ON" || echo "OFF") >> "$GITHUB_ENV"
          if [[ "${RUNNER_OS}" == "Windows" ]]; then
            npm config set script-shell "C:\\Program Files\\Git\\bin\\bash.exe"
          fi
          npm ci --ignore-scripts

      # Conan

      - name: Run Conan install
        if: env.ENABLE_CONAN == 'ON'
        uses: ./.github/actions/install-conan

      # Restore compiler cache

      - name: Restore CCache
        id: cache-ccache-restore
        uses: actions/cache/restore@v4
        if: env.USE_CCACHE == 'ccache'
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-${{ matrix.name }}-${{ github.sha }}
          restore-keys: |
            ccache-${{ matrix.name }}-

      - name: Install SCCache
        if: env.USE_CCACHE == 'sccache'
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          disable_annotations: true

      - name: Restore SCCache
        id: cache-sccache-restore
        uses: actions/cache/restore@v4
        if: env.USE_CCACHE == 'sccache'
        with:
          path: ${{ env.SCCACHE_DIR }}
          key: sccache-${{ matrix.name }}-${{ github.sha }}
          restore-keys: |
            sccache-${{ matrix.name }}-

      # Dependencies

      - name: Install dev dependencies
        if: env.ENABLE_CONAN != 'ON'
        run: |
          if [[ "${RUNNER_OS}" == "Linux" ]]; then
            # Install dev dependencies the traditional way
            sudo apt-get install -y libbz2-dev libxml2-dev libzip-dev liblua5.2-dev libtbb-dev
            if [[ "${ENABLE_COVERAGE}" == "ON" ]]; then
                sudo apt-get install -y lcov
            fi
          fi

          # for install-boost below
          BOOST_PLATFORM=${{ matrix.runs-on }}
          BOOST_PLATFORM=${BOOST_PLATFORM#ubuntu-}
          BOOST_PLATFORM=${BOOST_PLATFORM#macos-}
          BOOST_PLATFORM=${BOOST_PLATFORM#windows-}
          echo "BOOST_PLATFORM=$BOOST_PLATFORM"
          echo "BOOST_PLATFORM=$BOOST_PLATFORM" >> $GITHUB_ENV

      - name: Install boost
        if: env.ENABLE_CONAN != 'ON'
        uses: MarkusJx/install-boost@v2
        id: install-boost
        with:
          boost_version: ${{ env.BOOST_VERSION }}
          platform_version: ${{ env.BOOST_PLATFORM }}

      - name: Prepare for building
        run: |
          echo "Boost_DIR=${{ steps.install-boost.outputs.BOOST_ROOT }}" >> $GITHUB_ENV

          ccache --max-size=256M
          ccache --zero-stats

          if [[ "${RUNNER_OS}" == "Linux" ]]; then
            if [[ "${ENABLE_COVERAGE}" == "ON" ]]; then
              lcov --directory . --zerocounters # clean cached files
            fi
            if [[ "$ENABLE_ASAN" == "ON" ]]; then
              export "LD_LIBRARY_PATH=$(dirname `clang -print-file-name=libclang_rt.asan-x86_64.so`):$LD_LIBRARY_PATH"
              echo "ASAN_OPTIONS=log_path=${LOG_DIR}/asan.log:print_suppressions=0:suppressions=${CI_DIR}/addresssanitizer.conf" >> $GITHUB_ENV
              echo "LSAN_OPTIONS=log_path=${LOG_DIR}/lsan.log:print_suppressions=0:suppressions=${CI_DIR}/leaksanitizer.conf" >> $GITHUB_ENV
            fi
            if [[ "$ENABLE_UBSAN" == "ON" ]]; then
              export "LD_LIBRARY_PATH=$(dirname `clang -print-file-name=libclang_rt.ubsan_standalone-x86_64.so`):$LD_LIBRARY_PATH"
              echo "UBSAN_OPTIONS=log_path=${LOG_DIR}/ubsan.log:symbolize=1:halt_on_error=1:print_stacktrace=1:suppressions=${CI_DIR}/undefinedsanitizer.conf" >> $GITHUB_ENV
            fi
            echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH" >> $GITHUB_ENV
          fi

          # if [[ "${RUNNER_OS}" == "macOS" ]]; then
          #   # missing from GCC path, needed for conan builds of libiconv, for example.
          #   sudo xcode-select --switch /Library/Developer/CommandLineTools
          #   echo "LIBRARY_PATH=${LIBRARY_PATH}:/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/lib" >> $GITHUB_ENV
          #   echo "CPATH=${CPATH}:/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include" >> $GITHUB_ENV
          # fi

          if [[ "${ENABLE_CONAN}" == "ON" ]]; then
            cat "$CONAN_GENERATORS_DIR/conan-build-env.sh"
            source "$CONAN_GENERATORS_DIR/conan-build-env.sh"
            # set Conan build environment for future bash invocations
            echo "BASH_ENV=$CONAN_GENERATORS_DIR/conan-build-env.sh" >> $GITHUB_ENV
          else
            echo "BUILD_DIR=build/" >> $GITHUB_ENV
          fi

          echo "::group::PATH"
          echo PATH=${PATH}
          echo LIBRARY_PATH=${LIBRARY_PATH}
          echo LD_LIBRARY_PATH=${LD_LIBRARY_PATH}
          echo DYLD_LIBRARY_PATH=${DYLD_LIBRARY_PATH}
          echo "::endgroup::"

      - name: Cmake configure
        run: |
          if [[ "${ENABLE_CONAN}" == "ON" ]]; then
            cmake -B ${CONAN_BUILD_DIR} --preset ${CONAN_CMAKE_PRESET}
          else
            cmake -B ${BUILD_DIR} \
                -DCMAKE_BUILD_TYPE=${BUILD_TYPE} \
                -DBUILD_SHARED_LIBS=${BUILD_SHARED_LIBS:-OFF} \
                -DBUILD_NODE_BINDINGS=${BUILD_NODE_BINDINGS:-OFF} \
                -DUSE_CCACHE=${USE_CCACHE} \
                -DENABLE_ASSERTIONS=${ENABLE_ASSERTIONS:-OFF} \
                -DENABLE_CLANG_TIDY=${ENABLE_CLANG_TIDY:-OFF} \
                -DENABLE_COVERAGE=${ENABLE_COVERAGE:-OFF} \
                -DENABLE_ASAN=${ENABLE_ASAN:-OFF} \
                -DENABLE_UBSAN=${ENABLE_UBSAN:-OFF} \
                -DENABLE_LTO=${ENABLE_LTO:-ON}
          fi

      - name: Cmake build core
        run: |
          cmake --build ${CMAKE_BINARY_DIR} --config ${BUILD_TYPE} -j ${JOBS}

      - name: Debug build
        if: always()
        run: |
          echo "::group::ls ${OSRM_BUILD_DIR}"
          ls -al ${OSRM_BUILD_DIR}
          echo "::endgroup::"

          if [[ "${BUILD_NODE_BINDINGS}" == "ON" ]]; then
            echo "::group::ls ${OSRM_NODEJS_BUILD_DIR}"
            ls -al ${OSRM_NODEJS_BUILD_DIR}
            echo "::endgroup::"
          fi

      - name: Cmake build unit tests
        if: env.UNIT_TESTS == 'ON'
        run: |
          echo "::group::make tests"
          cmake --build ${CMAKE_BINARY_DIR} --config ${BUILD_TYPE} -j ${JOBS} --target tests benchmarks
          echo "::endgroup::"

      # Save compiler cache

      - name: Save CCache
        if: always() && env.USE_CCACHE == 'ccache'
        uses: actions/cache/save@v4
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ steps.cache-ccache-restore.outputs.cache-primary-key }}

      - name: Show CCache statistics
        if: always() && env.USE_CCACHE == 'ccache'
        run: |
          ccache -s
          echo "::group::ccache -p"
          ccache -p
          echo "::endgroup::"

      - name: Save SCCache
        if: always() && env.USE_CCACHE == 'sccache'
        uses: actions/cache/save@v4
        with:
          path: ${{ env.SCCACHE_DIR }}
          key: ${{ steps.cache-sccache-restore.outputs.cache-primary-key }}

      - name: Show SCCache statistics
        if: always() && env.USE_CCACHE == 'sccache'
        run: |
          sccache --show-stats
          echo "::group::show log file"
          cat ${SCCACHE_ERROR_LOG}
          echo "::endgroup::"

      # Test

      - name: Prepare for testing
        run: |
          if [[ "${ENABLE_CONAN}" == "ON" ]]; then
            cat "$CONAN_GENERATORS_DIR/conan-run-env.sh"
            source "$CONAN_GENERATORS_DIR/conan-run-env.sh"
            # set this environment for future bash invocations
            echo "BASH_ENV=$CONAN_GENERATORS_DIR/conan-run-env.sh" >> $GITHUB_ENV
          fi

          echo "::group::PATH"
          echo PATH=${PATH}
          echo LIBRARY_PATH=${LIBRARY_PATH}
          echo LD_LIBRARY_PATH=${LD_LIBRARY_PATH}
          echo DYLD_LIBRARY_PATH=${DYLD_LIBRARY_PATH}
          echo "::endgroup::"

      - name: Run unit tests
        if: env.UNIT_TESTS == 'ON'
        run: |
          make -C ${TEST_DIR}/data

          if [[ "${RUNNER_OS}" == "Windows" ]]; then
            # Windows flunks a test
            set +o errexit
          fi

          cd ${OSRM_UNIT_TESTS_BUILD_DIR}
          for i in *-tests${EXECUTABLE_SUFFIX}; do
            echo "::group::Running $i"
            ./$i
            echo "::endgroup::"
          done

      - name: Run Cucumber tests
        if: env.CUCUMBER_TESTS == 'ON'
        run: |
          npm test -- --parallel $JOBS

      - name: Run Node package tests
        if: env.NODE_PACKAGE_TESTS == 'ON'
        uses: ./.github/actions/node-package-tests

      - name: Upload test logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          if-no-files-found: ignore
          name: ${{ matrix.name }}-test-logs
          path: ${{ env.LOG_DIR }}

      - name: Build Node package
        if: env.BUILD_NODE_PACKAGE == 'ON'
        run: |
          ${CI_DIR}/node_package.sh

      - name: Publish Node package
        if: env.BUILD_NODE_PACKAGE == 'ON' && env.PUBLISH == 'ON'
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: build/stage/**/*.tar.gz
          omitBody: true
          omitBodyDuringUpdate: true
          omitName: true
          omitNameDuringUpdate: true
          replacesArtifacts: true
          token: ${{ secrets.GITHUB_TOKEN }}

  ci-complete:
    runs-on: ubuntu-latest
    needs: [format-taginfo-docs, docker, build-matrix]
    steps:
      - run: echo "CI complete"
